main {
    z-index: -99999;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #main-pic {
        width: 90%;
        margin: 0 auto;
        height: 30em;
        background: url("/resources/img/jennifer-chen-pBLJBHbtv0c-unsplash.jpg") no-repeat;
        background-size: cover;
        background-position: 50% 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 3em;

        #search-options {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 2em 0 0;
    
            .input-container{
                display: flex;
                align-items: center;
                width: 100%;
            
                label {
                    background: #444343;
                    color: #fff;
                    display: flex;
                    white-space: nowrap;
                    width: 100%;
                    margin: 0;
                    padding: 1em 1.1em;
    
                    img{
                        width: 2em;
                    }

                    .icon_filter{
                        filter: brightness(0) saturate(100%) invert(57%) sepia(56%) saturate(526%) hue-rotate(131deg) brightness(90%) contrast(98%);
                    }

                    &:hover{
                        background: #fff;
                        color: #21b1b1;
                        transition: background 0.5s, color 0.3s;
                    }
                    
                    span.icon-span{
                        display: flex;
                        align-items: center;   
                        margin-left: 1em;   
                    }
    
                   
    
                    /* hides radio buttons*/
                    input[type="radio"]{
                        border: none;
                    }              
    
                    input[type="radio"]:checked+.content-container.flight-content{
                        display: block;
    
                        &:hover{
                            color: #21b1b1;
                            filter: invert(0);
                            transition: color 0.5s;
                        }
                    }
    
                    .tabs-radio{
                        display: none;
                    }
                }

                .tab_active{
                    background: #fff;
                    color: #21b1b1;
                }
            }
    
            #flight{
                margin-left: 0;
            }
    
            #stay{
                margin-right: 0;
            }
        }
    
        .content-container{
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 0;
            background: #fff;
            width: 80%;
            padding: 1em;
            box-sizing: border-box;

            select, input {
                border: none;
                padding: 1em;
                font-size: 0.9em;
            }

            .input-container {
                display: flex;
                align-items: center;
                gap: 0.5em;
                width: 100%;

                .change-order{
                    order: 2;
                }

                .no-label{
                    display: none;
                }

                #date-label {
                    white-space: nowrap;
                    margin-left: 1em;
                }   

                input[type=submit]{                                
                    background: #21b1b1;
                    color: #fff;
                    background: #21b1b1;
                    width: 100%;                            
                    font-size: 0.9em;                        
                    border: none;

                    &:hover{
                        background: #fff;
                        color: #21b1b1;
                        transition: background 0.5s, color 0.5s;
                    }
                }
            }
                    
            //positioning of label in input - codepen hilft
            .full-input {
                display: inline-block;

                input{                            
                    display: block;
                    position: relative;
                    left: 0;
                    padding: 0 1em;
                }

                .flight-label{
                    display: block;
                    font-size: 0.9em;
                    margin-left: 1em;
                }

                label{
                    display: block; 
                }    
            }

            .no100{
                width: min-content;
                white-space: nowrap;
            }

            .line-order{
                display: flex;
                flex-direction: row;
                align-items: center;
                box-sizing: border-box;

                .order-2{
                    align-items: center;
                    display: flex;
                    gap: 1em;
                }
            }  
            
            .line-two{
                align-items: center;
            }

            .full-width{
                width: 100%;
            }
        }

        .flight-content{
            display: block;
        }
    }

    #search-content {
        padding: 2em 0;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;

            .article-container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: start;
                gap: 1em;
                width: 80%;

                article{
                    display: flex;
                    flex-direction: column;            
                    width: 100%;
                        
                    .img-container, .text-container{
                        
                        img{
                            width: 100%;
                            color: #21b1b1;
                        }
                    }
                }
            }
        }

        #stay-section.tabs-content{
            display: none;
        }
          
        /* folgender code folgt nicht */
        label.tabs-radio:checked+.tabs-label+#search-content #flight-section.tabs-content{
            display: block;
        }
    }
}

@media only screen and (max-width: 1060px){
    main #main-pic {
        ul#search-options li .icon{
            background-position: 35px 50%;;
        }

        .content-container{
            flex-direction: column;

            .line-order{
                width: 100%;
                padding: 0;
            }
        
            .line-two {
                flex-direction: column!important;
                display: grid;
                grid-template-columns: 49% 49%;
                justify-content: space-between;
                grid-template-rows: auto;
                grid-template-areas: "box1 box2"
                                    "box3 box4";

                .order-3{
                    grid-area: box1;  
                    padding-bottom: 1em;
                }
        
                .order-4{
                    grid-area: box2;
                    padding-bottom: 1em;

                }
                
                .order-5{
                    grid-area: box3;
                }
        
                .order-6{
                    grid-area: box4;
                }
            }
            
            .input-container{
                border: 1px solid #d5d5d5;
            }

            .no-border{
                border: none;                    
            }
        }    
    }
}

@media only screen and (max-width: 910px){
    main #search-options .input-container{
    
    label span.icon-span{
            display: none!important;
    }

    /*label.icon{
        background-repeat: no-repeat!important;
        background-position: 50% 50%!important;
        background-size: 20%!important;
        width: 100%;
        height: 2em;
    }
       
    label.flight-icon{
        background-image: url("/resources/img/icon/departures-white.svg")!important;
 

        &:hover{
            background-image: url("/resources/img/icon/departures-dbeColored.svg")!important;

        }
    }

    label.travel-icon{
        background-image: url("/resources/img/icon/travel-white.svg")!important;

        &:hover{
            background-image: url("/resources/img/icon/travel-dbeColored.svg")!important;

        }
    }

    .car-icon{
        background-image: url("/resources/img/icon/car-white.svg")!important;

        &:hover{
            background-image: url("/resources/img/icon/car-dbeColored.svg")!important;
        }
    }

    .hotel-icon{
        background-image: url("/resources/img/icon/bed-white.svg")!important;

        &:hover{
            background-image: url("/resources/img/icon/bed-dbeColored.svg")!important;
        }
    }*/
    }

}

@media only screen and (max-width: 820px){
    main #main-pic {
        ul#search-options li{

            .icon{
                background-position: 50% 50%;
            }

            a {
                justify-content: center;
            }
        }

        .content-container{
            .line-order {
                display: grid;

                .order-2{
                    flex-direction: column;
                    align-items: start;
                }
            }
            
            .line-two{
                grid-template-areas: "box1"
                                    "box2"
                                    "box3"
                                    "box4";
                grid-template-columns: 1fr;

                .order-5, .order-6{
                    padding-top: 1em;
                }
            }
        } 
    }
}