    main {
        background: black;

        #main-pic {
            width: 90%;
            margin: 0 auto;
            height: 30em;
            background: url("/resources/img/jennifer-chen-pBLJBHbtv0c-unsplash.jpg") no-repeat;
            background-size: cover;
            background-position: 50% 40%;
        }
        #search-options {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 0;

                li {
                    background: #fff;
                    list-style-type: none;
                    display: inline-flex;
                    white-space: nowrap;
                    width: 100%;
                    margin: 0 1px;

                    a {
                        text-decoration: none;
                        display: block;
                        padding: 1em 3em;
                        text-align: center;
                        

                        img{
                            width: 1.8em;
                            padding-right: 1em;
                        }
                    }
                }
            }

            #search-content {
                width: 80%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;

                section {
                    background: violet;
                    padding: 2em;
                }
            }
    }
