#div-overlay{
    background: #43434384;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    .overlay-content{
        background: #fff;
        width: 60%;
        height: auto;
        padding: 2em;

        .heading{
            font-size: 1.8em;
            font-weight: bold;
            margin: 0;
        }
    }
}

.hidden{
    /*display: none;*/
}